/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "lists";
@import "reviews";
@import "components/banners";
@import "components/buttons";
@import "components/cards";
@import "components/navbars";
@import "components/icons";

.romance {
  background-image: url("https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHJvbWFuY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  background-position: bottom;
}
.horror {
  background-image: url("https://media.istockphoto.com/photos/scary-laughing-pumpkin-and-old-skull-on-ancient-gothic-fireplace-picture-id1328224003?b=1&k=20&m=1328224003&s=170667a&w=0&h=M9HBaJMqTWs_Cr8yDjJQr-W5PG2jvUgxBeBTKpqf4pw=");
}
.action {
  background-image: url("https://media.istockphoto.com/photos/firefighter-with-nation-flag-greeting-card-for-firefighters-day-day-picture-id1322104867?b=1&k=20&m=1322104867&s=170667a&w=0&h=xCWo41VIs_dBWsd7agHywyo1efwTOTOqUK4b0Tw5vTg=");
}
.comédie {
  background-image: url("https://media.istockphoto.com/photos/stage-with-microphone-and-stool-with-red-neon-lamp-with-the-word-picture-id1316581169?b=1&k=20&m=1316581169&s=170667a&w=0&h=Dtc-cS7tuj4QMonluZRhJITXoHAdiWU03QkTfU7sBB8=");
  background-position: top;
}
body {
  margin: 0;
  background-color: rgb(241, 241, 241);
  font-family: 'Open Sans', sans-serif;
}
strong {
  padding: 0;
}
.pd-l {
  padding-left: 5px;
}
.pd-t {
  padding-top: 5px;
}
h3{
  margin: 0;
  display: flex;
  align-items: center;
}
p {
  margin: 0;
  display: flex;
  align-items: center;
}
.container {
  width: 930px;
  margin: 10px auto;
}
